<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <%- include('./common/link'); %> <%- include('./common/navbar',{nav:{
    home:"active", comp:"", work:"", user:data.user, username:data.username }});
    %>
  </head>
  <body>
    <div class="container" style="margin-top:5%;margin-bottom:5%;">
      <!-- Default form register -->
      <form
        class="text-center border border-light p-5"
        action="/register"
        method="POST"
      >
        <p class="h4 mb-4">Sign up</p>

        <%if(data.error){%>
        <div class="alert alert-danger">Some Thing Went</div>

        <%}%>
        <div class="form-row mb-4">
          <div class="col">
            <!-- First name -->

            <input
              type="text"
              id="defaultRegisterFormFirstName"
              class="form-control"
              placeholder="First name"
              name="fname"
              maxlength="20"
              required
            />
          </div>
          <div class="col">
            <!-- Last name -->
            <input
              type="text"
              name="lname"
              id="defaultRegisterFormLastName"
              class="form-control"
              placeholder="Last name"
              maxlength="20"
              required
            />
          </div>
        </div>

        <!--Username-->

        <!-- E-mail -->
        <input
          type="email"
          name="email"
          id="defaultRegisterFormEmail"
          class="form-control mb-4"
          placeholder="E-mail"
          required
        />

        <!-- Password -->
        <input
          name="pass"
          type="password"
          id="defaultRegisterFormPassword"
          class="form-control"
          placeholder="Password"
          aria-describedby="defaultRegisterFormPasswordHelpBlock"
          required
        />
        <br />
        <input
          name="cpass"
          type="password"
          id="defaultRegisterFormUsername"
          class="form-control mb-4"
          placeholder="Confirm Password"
          required
        />

        <!-- Phone number -->

        <input
          type="number"
          name="ph"
          id="defaultRegisterPhonePassword"
          class="form-control"
          placeholder="Phone number"
          aria-describedby="defaultRegisterFormPhoneHelpBlock"
          pattern="[0-9]{10}"
          required
        />

        <!-- Newsletter -->

        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">
          Sign UP
        </button>

        <!-- Social register -->
      </form>
      <!-- Default form register -->
    </div>
  </body>
</html>
